@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/styles/material/css")    
    <script src="@ViewBag.MapsApiSource"></script>    
</head>
<body ng-app="catchMeApp">
<div class="catch-me mdl-layout mdl-js-layout mdl-layout--fixed-header" ng-controller="AuthenticationController as authenticationCtrlVm">
    <div header-menu class="header mdl-layout__header mdl-layout__header--waterfall mdl-shadow--4dp"></div>
    <div drawer-menu class="drawer mdl-layout__drawer"></div>
    @*@{
        <!--HEADER-->
        Html.RenderPartial("PartialHeader");

        <!--DRAWER MENU-->
        Html.RenderPartial("PartialDrawerMenu");
    }*@

    <!--CONTENT-->
    <div class="mdl-layout__content mdl-color--grey-100" id="container">
        <div class="centered">
            <div ng-view></div>
        </div>
    </div>
</div>
    
    @Scripts.Render("~/bundles/libs/js")
    @Scripts.Render("~/bundles/angular/catchMe-module/js")    
    @Scripts.Render("~/bundles/angular/catchMe-app/js")    
</body>
</html>